.header {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

.list {
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top:40px;
    padding-bottom: 40px;
    list-style:none;
    margin-left: 380px;
    /* height: 100px; */
}

.list li a{ 
    color: #FFF;
    font-size: 1.5rem;
    text-decoration: none;
}